<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-tgvoip-plugin" version="0.0.1">

  <name>TGVoip Plugin</name>

  <description>An Android Cordova plugin that allows users to access Telegram tgvoip library.</description>
  <license>MIT</license>

  <keywords>cordova,android,tgvoip,voip,telegram</keywords>
  <repo>https://github.com/malufett/cordova-plugin-tgvoip.git</repo>
  <issue>https://github.com/malufett/cordova-plugin-tgvoip/issues</issue>

  <js-module src="www/main.js" name="main">
    <clobbers target="tgvoip" />
  </js-module>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <platform name="android">

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="TGVoipPlugin">
        <param name="android-package" value="org.parler.TGVoipPlugin"/>
      </feature>
    </config-file>

    <!-- Java plugin API -->

    <!-- org.parler.messenger.time -->
    <source-file src="src/android/parler/messenger/time/DateParser.java" target-dir="app/src/main/java/org/parler/messenger/time/"/>
    <source-file src="src/android/parler/messenger/time/DatePrinter.java" target-dir="app/src/main/java/org/parler/messenger/time/"/>
    <source-file src="src/android/parler/messenger/time/FastDateFormat.java" target-dir="app/src/main/java/org/parler/messenger/time/"/>
    <source-file src="src/android/parler/messenger/time/FastDateParser.java" target-dir="app/src/main/java/org/parler/messenger/time/"/>
    <source-file src="src/android/parler/messenger/time/FastDatePrinter.java" target-dir="app/src/main/java/org/parler/messenger/time/"/>
    <source-file src="src/android/parler/messenger/time/FormatCache.java" target-dir="app/src/main/java/org/parler/messenger/time/"/>
    <source-file src="src/android/parler/messenger/time/SunDate.java" target-dir="app/src/main/java/org/parler/messenger/time/"/>

    <!-- org.parler.messenger.voip -->
    <source-file src="src/android/parler/messenger/voip/Instance.java" target-dir="app/src/main/java/org/parler/messenger/voip/"/>
    <source-file src="src/android/parler/messenger/voip/NativeInstance.java" target-dir="app/src/main/java/org/parler/messenger/voip/"/>

    <!-- org.parler.messenger -->
    <source-file src="src/android/parler/messenger/AnimatedFileDrawableStream.java" target-dir="app/src/main/java/org/parler/messenger/"/>
    <source-file src="src/android/parler/messenger/ApplicationLoader.java" target-dir="app/src/main/java/org/parler/messenger/"/>
    <source-file src="src/android/parler/messenger/BuildVars.java" target-dir="app/src/main/java/org/parler/messenger/"/>
    <source-file src="src/android/parler/messenger/DispatchQueue.java" target-dir="app/src/main/java/org/parler/messenger/"/>
    <source-file src="src/android/parler/messenger/FileLoader.java" target-dir="app/src/main/java/org/parler/messenger/"/>
    <source-file src="src/android/parler/messenger/FileLog.java" target-dir="app/src/main/java/org/parler/messenger/"/>
    <source-file src="src/android/parler/messenger/ImageLocation.java" target-dir="app/src/main/java/org/parler/messenger/"/>
    <source-file src="src/android/parler/messenger/NativeLoader.java" target-dir="app/src/main/java/org/parler/messenger/"/>
    <source-file src="src/android/parler/messenger/Utilities.java" target-dir="app/src/main/java/org/parler/messenger/"/>

    <!-- org.parler.tgnet -->
    <source-file src="src/android/parler/tgnet/AbstractSerializedData.java" target-dir="app/src/main/java/org/parler/tgnet/"/>
    <source-file src="src/android/parler/tgnet/NativeByteBuffer.java" target-dir="app/src/main/java/org/parler/tgnet/"/>
    <source-file src="src/android/parler/tgnet/SerializedData.java" target-dir="app/src/main/java/org/parler/tgnet/"/>
    <source-file src="src/android/parler/tgnet/TLObject.java" target-dir="app/src/main/java/org/parler/tgnet/"/>
    <source-file src="src/android/parler/tgnet/TLRPC.java" target-dir="app/src/main/java/org/parler/tgnet/"/>

    <!-- org.parger.ui.Components-->
    <source-file src="src/android/parler/ui/Components/AnimatedFileDrawable.java" target-dir="app/src/main/java/org/parler/ui/Components/"/>

    <!-- org.webrtc -->
    <source-file src="src/android/webrtc/CalledByNative.java" target-dir="app/src/main/java/org/webrtc/"/>
    <source-file src="src/android/webrtc/ContextUtils.java" target-dir="app/src/main/java/org/webrtc/"/>
    <source-file src="src/android/webrtc/RefCounted.java" target-dir="app/src/main/java/org/webrtc/"/>
    <source-file src="src/android/webrtc/VideoSink.java" target-dir="app/src/main/java/org/webrtc/"/>
    <source-file src="src/android/webrtc/VideoFrame.java" target-dir="app/src/main/java/org/webrtc/"/>

    <!-- org.parler-->
    <source-file src="src/android/TGVoipPlugin.java" target-dir="app/src/main/java/org/parler/"/>
    <source-file src="src/android/TGVoipJni.java" target-dir="app/src/main/java/org/parler/"/>

    <!-- PRODUCTION - comment out source files below for debugging -->

    <!-- Compiled C libraries - release binaries - device -->
    <source-file src="src/android/obj/local/arm64-v8a/libtmessages.35.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/obj/local/armeabi-v7a/libtmessages.35.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />

    <!-- Compiled C libraries - release binaries - emulator -->
    <source-file src="src/android/obj/local/x86/libtmessages.35.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/obj/local/x86_64/libtmessages.35.so" target-dir="app/src/main/jniLibs/x86_64/" />

    <!-- Compiled C libraries - debug binaries - device -->
    <source-file src="src/android/obj/local/armeabi-v7a/libtmessages.35.so" target-dir="app/obj/local/armeabi-v7a/" />
    <source-file src="src/android/obj/local/arm64-v8a/libtmessages.35.so" target-dir="app/obj/local/arm64-v8a/" />

    <!-- Compiled C libraries - debug binaries - emulator -->
    <source-file src="src/android/obj/local/x86/libtmessages.35.so" target-dir="app/obj/local/x86/" />
    <source-file src="src/android/obj/local/x86_64/libtmessages.35.so" target-dir="app/obj/local/x86_64/" />

    <!-- END PRODUCTION -->
  </platform>
</plugin>
