<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-tgvoip"
        version="1.0.0">

  <name>TGVOIP</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/client.js" target="js/client.js"/>

  <js-module src="www/client.js" name="tgvoip">
    <clobbers target="tgvoip" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TGVOIP">
        <param name="android-package" value="com.tgvoip.plugin.TGVOIP"/>
      </feature>
    </config-file>

    <source-file src="src/android/com/tgvoip/client/TGVOIP.java" target-dir="src/com/tgvoip/plugin/"/>
    <source-file src="src/android/com/tgvoip/client/TGVOIPJni.java" target-dir="src/com/tgvoip/plugin/" />
    <source-file src="src/android/libs/armeabi/libhello-jni.so" target-dir="libs/armeabi/" />
  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="Hello">
        <param name="ios-package" value="HWPHello" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPHello.h" target-dir="HelloPlugin"/>
    <source-file src="src/ios/HWPHello.m" target-dir="HelloPlugin"/>
    <header-file src="src/ios/test.h" target-dir="HelloPlugin"/>
    <source-file src="src/ios/test.c" target-dir="HelloPlugin"/>
  </platform>
</plugin>
